@model IEnumerable<Accounting.DAO.Orders>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Количество")
        </th>
        <th>
            @Html.DisplayName("Статус")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status1._name)
        </td>
        <td>
      
        </td>
        <td>
        </td>
    </tr>
}

</table>
